* body{
    margin: 0px;
    padding: 0px;
}
.percentual{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
}
.container-fluid{
    height: 50px;
    background-color: black;
}
.nav-link{
    color: white;
}
#a:hover{
    color: red;
}
@media(max-width: 768px){
    .container-fluid{
        height: 100px;
        background-color: black;
    }
}
